.container {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: rgb(131, 166, 202);
  /* border: 4px solid black; */
}

.cloud {
  width: 90px;
  position: absolute;
  top: 150px;

  /* opacity: 0; */

  animation-name: float;
  animation-duration: 20s;

  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

/* -------------- ANIMATION ----------------------- */
@keyframes float {
  from {
    transform: translateX(-340px);
    opacity: 100%;
  }
  to {
    transform: translateX(340px);
    opacity: 100%;
  }
}

#cloud1 {
  /* animation-delay: 0s; */
  top: 40px;
  /* animation-duration: 10s; */
  transition-timing-function: linear;
}

#cloud2 {
  animation-delay: 2s;
  /* animation-duration: 10s; */
  transition-timing-function: linear;

  top: 280px;
}

#cloud3 {
  animation-delay: 4s;
  /* animation-duration: 10s; */
  transition-timing-function: linear;

  top: 120px;
}

#cloud4 {
  animation-delay: 6s;
  /* animation-duration: 10s; */
  transition-timing-function: linear;

  top: 200px;
}

#cloud5 {
  animation-delay: 8s;
  /* animation-duration: 10s; */
  transition-timing-function: linear;

  top: 110px;
}

#cloud6 {
  animation-delay: 10s;
  transition-timing-function: linear;

  top: 150px;
}
